@font-face {
  font-family: "MarckScript-Regular";
  src: url("./component/utils/font/MarckScript-Regular.woff2") format("woff2"),
    url("./component/utils/font/MarckScript-Regular.woff") format("woff"),
    url("./component/utils/font/MarckScript-Regular.ttf") format("truetype");
}
body,
html,
#root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "MarckScript-Regular", Fallback, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
